body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #6190e8, #a7bfe8);
  background-image: linear-gradient( 135deg, #65FDF0 10%, #1D6FA3 100%);
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media (max-width: 480px) {
  .xyz {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .g-card-image{
    border-radius: 10px;
    width: 100%;
    height: 380px;
    background-color: #386ddd;
    box-shadow: 0px 0px 3px 1px  #ccc;
    transition: 0.5s ease;
    cursor: pointer;
  }
  .footerLast{
    text-align: center;
    padding-top: 15px;
  }
  .navbar{
    min-height: 100px;
  }
  .about-p{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1.2em;
    text-align: left;
  }
  .about-img{
    Height: 70vh;
    Width: 80vw;
    Align-Items: center;
    Justify-Content: center;
  }
  .tableHeading{
    font-size: 14px !important;
  }
  .tableRow{
    font-size: 14px !important;
  }
  .buttonView{
    /*width: 30px;*/
     height: 25px;
   }
   .g-card-info{
    text-align: center;
    margin-top: 10px;
    min-height: 100px;
  }
  
  .g-card-title{
    font-size: 20px;
    margin: 0px;
  }
  
  .g-card-sub-title{
    font-size: 15px;
    margin: 0px;
  }
}
@media(min-width: 481px) {
  .xyz {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .g-card-image{
    border-radius: 10px;
    width: 400px;
    height: 480px;
    box-shadow: 0px 0px 3px 1px  #ccc;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  .footerLast{
    text-align: right;
  }
  .navbar{
    min-height: 180px;
  }
  .about-p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    text-align: left;
  }
  .about-img{
    width: 100%;
    margin-left: 0em;
    Align-Items: center;
    Justify-Content: center;
  }
  .tableHeading{
    font-size: 18px !important;
  }
  .tableRow{
    font-size: 17px !important;
  }
  .buttonView{
   /*width: 30px;*/
    height: 35px;
  }
  .g-card-info{
    text-align: center;
    margin-top: 10px;
    min-height: 100px;
  }
  
  .g-card-title{
    font-size: 24px;
    margin: 0px;
  }
  
  .g-card-sub-title{
    font-size: 16px;
    margin: 0px;
  }
}
.g-card-image:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
footer{
  width: 100%;
  /*background: rgb(2,0,36);
  background: linear-gradient(to right, #6190e8 29%, rgba(167,191,232,1) 49%);*/
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.skillsHeading{
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.skillsContent{
  font-size: 20px;
  text-align: left;
}

.skillsComponent{
  padding-bottom: 30px;
}

.tableHeading{
  /*font-size: 18px !important;*/
  font-family: "Roboto", sans-serif !important;
  font-weight: 700 !important;
  background-color: white;
}
.tableRow{
  /*font-size: 17px !important;*/
  font-family: sans-serif!important;
  font-weight: 400 !important;
  background-color: white;
}

.hero{
  width: 100%;
  background-color: white;
}

.basic{
  background-color: white;
}

.g-card{
  /*width: 100%;*/
  margin: 20px;
  /*transition: 0.5s ease;
  cursor: pointer;*/
}

.g-card:hover{
  /*transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);*/
}


.success-msg{
  color: #57A773;
  padding: 10px 15px;
}

.error-msg{
  color: #EE6352;
  padding: 10px 15px;
}

.about{
  display: flex;
  flex-direction: row;
  position: relative;
}
.about-content{
  position: relative;
  left:5em;
}
.about-content h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}


.nav-link{
  font-size: 20px;
  margin: 0px;
}
.typical{
  font-size: 1.6rem;
  font-family: 'Sulphur Point', sans-serif;
}
.social-icons{
  text-align: center;
}

.fb{
  margin: 2%;
  color: white;
}

.fb:hover{
  color: #386ddd;
}

.git{
  margin: 2%;
  color: white;
}

.git:hover{
  color: #16fa01;
}

.twitter{
  margin: 2%;
  color: white;
}

.twitter:hover{
  color: #00acee;
}

.insta{
  margin: 2%;
  color: white;
}

.insta:hover{
  color: #c1558b;
}

.linkedin{
  margin: 2%;
  color: white;
}

.linkedin:hover{
  color: #0e76a8;
}